.blue{
 color: blue;
 text-align: center;
}
.fil{
    text-align: left;
} 
table{
    margin:auto ;
    border-collapse:collapse ;
    border-color: rgb(39, 30, 30);
    width: 1250px;
    height: 300px;
    box-shadow: 10px 8px 5px rgb(82, 68, 68);
}
.impair{
    background-color: rgb(15, 245, 72);
    text-align: center;
}
.pair{
    background-color: rgb(141, 156, 236);
    text-align: center;
}
.TP{
    background-color: rgb(255, 255, 255);
}

